name: CI/CD Pipeline

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build-and-deploy:

    runs-on: self-hosted

    steps:
      - name: checkout repository
        uses: actions/checkout@v4

      - name: SetUp Node.Js
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Install Dependencies
        run: npm install

      - name: Dependency Check
        run: npm audit --audit-level=moderate

      - name: Run Tests
        run: npm install --save-dev jest

      - name: Build Docker Image
        run: sudo docker build -t ${{ secrets.DOCKER_USERNAME}}/nodeapp:latest .

      - name: Login To DockerHub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Start And Run Container
        run: sudo docker run -d -p 3000:3000 --name node-container cloudketan/nodeapp:latest

